<!doctype html>
<html>
  <head> 
    <meta charset="utf 8"> 
    <title>CATS!</title>
  </head>
  <body>
    <header> All About Cats </header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dogs Page</a>
      <a href="/cats">Cats Page</a>
      <a href="/ninjas">Ninjas Page</a>
      <a href="pirates">Pirates Page</a>
    </nav>
    <h1> Cute Cats</h1>
    <article> 
      <img src="https://lh3.ggpht.com/YRh7xL-AXKT0usGQMHQ_QPeHU-awkhXj6prI8h7UUieuGs_U2leuKulcW5BXcNxx8g=w300">
      <img src="http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=60372167">
      <img src="https://lh3.ggpht.com/9FWniJp86HFfmKbCjR3H7duc0sZEZ-l2J0LSMv9wSfMzCZw68n_Ok96eYjXCv-lqirE_=w300">
      <img src="/images/cat1.jpg">
      <iframe width="560" height="315" src="//www.youtube.com/embed/FKkejo2dMV4" frameborder="0" allowfullscreen></iframe>
    </article>
    <footer>
      <small>(c)Cats!</small>
    </footer>
  </body>
</html>
