<!doctype html>
<html>
  <head> 
    <meta charset="utf 8"> 
    <title>DOGS!</title>
  </head>
  <body>
    <header> All About dogs </header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dogs Page</a>
      <a href="/cats">Cats Page</a>
      <a href="/ninjas">Ninjas Page</a>
      <a href="pirates">Pirates Page</a>
    </nav>
    <h1> Cute Dogs </h1>
    <article> 
      <img src="http://1.bp.blogspot.com/-RjMTXQey8w4/UZuPpGr0K1I/AAAAAAAAAio/0jbsEyXWxYc/s640/very-cute-dog-background-1600x1200-1007067.jpg" >
      <img src="http://www.happyhealthypuppy.com/wp-content/uploads/2012/04/Yawning-Dog-Small.jpg">
      <img src="http://9pixs.com/wp-content/uploads/2014/06/dogs-for-free_14041593561.jpg">

      <iframe width="560" height="315" src="//www.youtube.com/embed/NyFBbQrNLjA" frameborder="0" allowfullscreen></iframe>
    </article>
    <footer>
      <small>(c)Dogs!</small>
    </footer>
  </body>
</html>
