<!doctype html>
<html>
  <head> 
    <meta charset="utf 8"> 
    <title>NINJAS!</title>
  </head>
  <body>
    <header> All About Ninjas </header>
    <nav>
      <a href="/">Home Page</a>
      <a href="/dogs">Dogs Page</a>
      <a href="/cats">Cats Page</a>
      <a href="/ninjas">Ninjas Page</a>
      <a href="pirates">Pirates Page</a>
    </nav>
    <h1> Ninjas</h1>
    <article> 
      <img src="/images/ninja.jpeg">
      <img src="/images/ninja2.png">
      <img src="/images/ninja3.jpeg">
      <iframe width="560" height="315" src="//www.youtube.com/embed/VZZ0PnDZdZk" frameborder="0" allowfullscreen></iframe>
    </article>
    <footer>
      <small>(c) Ninjas!</small>
    </footer>
  </body>
</html>
